.sectionFive {
  background: #2F3740;
  margin-top: 200px;
}
.sectionFifth {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.sectionFiveLine {
  width: 100%;
  border: 1px solid #FFFFFF;
}
.philosophy {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF
}
.philosophyTitle {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
}
.philosophyDescription {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin-top: 107px;
}
.imgSectionFive {
  margin-top: 100px;
}
