.homepage{
  height: 100%;

  .section_1{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../../files/fon1.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Manrope', sans-serif;

    .title-bionic{
      position: absolute;
      top: 210px;
      left: 83px;
      .whiteLine {
        border: none;
        background-color: white;
        height: 2px;
        width: 630px;

      }
      .title {
        font-size: 144px;
        color: white;
      }
      .subtitle {
        color: white;
        font-size: 20px;
      }
      .bionic {
        flex-direction: column;
      }
      .button {
        flex-direction: row;
        display: flex;
        margin-top: 50px;
        color: white;
      }
      .firstBTN {
        border-radius: 20px 0px;
        background: #A9D96C;
        width: 305px;
        height: 60px;
        margin-right: 21px;
        justify-content: center;
        display: flex;
        align-items: center;
      }
      .first {
        justify-content: center;
        display: flex;
      }
      .secondBTN {
        border-radius: 20px 0px;
        border: 1px solid #9BDC5A;
        width: 305px;
        height: 60px;
        justify-content: center;
        display: flex;
        align-items: center;
      }
      .second {
        justify-content: center;
        display: flex;
      }
    }

  }
  .sidePanel {
    color: white;
    justify-content: space-around;
    align-items: center;
  }
  .address {
    position: absolute;
    writing-mode: vertical-rl;
    display: flex;
    right: 20px;
    top: 50px;
    font-size: 16px;
  }
  .number {
    position: absolute;
    writing-mode: vertical-rl;
    display: flex;
    right: 28px;
    top: 50%;
    font-size: 24px;
    transform: translateY(-50%);
  }
  .callback {
    position: absolute;
    writing-mode: vertical-rl;
    display: flex;
    right: 31px;
    bottom: 50px;
    font-size: 16px;
  }
  .sideLine {
    position: absolute;
    height:100%;

    right: 83px;

    border: 1px solid #FFFFFF;

}

}